/*
  colors:

  Marocko: #2EC4B6
  Red:     #E71D36
  Light:   #EFFFE9
  Dark:    #011627

  */

body {
  font-family: 'open sans';
}

#message {
  position: relative;
  display: none;
}

#message span {
  position: absolute;
  top: 0;
  right: 5px;
  color: inherit;
}

#message span a {
  color: inherit;
}

#message span a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  color: #011627;
}

.center{
  text-align: center;
  margin: 0 auto;
}

tbody a {
  color: #011627;
}

body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.piechart {
  width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

#food-input-div {
  position: relative;
}

#search-list {
  position: absolute;
  margin-top: 59px;
  top: 0;
  z-index: 10;
}

#search-list li {
  padding: 0;
}

#search-list a {
  display: block;
  padding: 15px;
}

#search-list a:hover {
  color: white;
  background-color: #337AB7;
  text-decoration: none;
}

#kcal-day-progress {
  height: 30px;
  width: 100%;
}

/* Restyle boostrap */
.navbar-inverse .navbar-brand {
  color: #2ec4b6;
  /* 4ACCCE */
}

.navbar-inverse .navbar-brand:hover {
  color: #011627;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #011627;
}

.navbar {
  background-color: transparent;
  border-color: #eee;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #2ec4b6;
}

.navbar-inverse .navbar-toggle {
    border-color: #eee;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: #eee;
}

.navbar-inverse .navbar-toggle:focus {
  background-color: #eee;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #eee;
  background-color: white;
}


/* Calendar styles */
div.zabuto_calendar .badge-event, div.zabuto_calendar div.legend span.badge-event {
  background-color: #4accce;
}

#zabuto_calendar th span {
  font-size: 18px;
}

@media screen and (max-width:767px) {
  h1 {
    position: fixed;
    margin-top: -65px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    position: static;
    margin-top: 0;
    width: auto;
  }
}
